---
import Icon from '../elements/Icon.astro';
---

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__copyright">
        <span class="footer__sentence">
          &copy;<span class="footer__copyright-year"></span>
        </span>
        <span class="footer__sentence">
          Built with <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Astro (opens in new window)">Astro</a
          >
        </span>
      </div>
      <div class="footer__tagline">
        <span class="footer__sentence">
          Made with <Icon name="heart" /><span class="visually-hidden">love</span> by Tom DeLuca
        </span>
      </div>
    </div>
  </div>
</footer>
