<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#main" class="header__skip-to-content">Skip to content</a>
      <a class="header__logo" href="/">tom_deluca/dev</a>
      <div class="header__controls">
        <button
          class="header__menu-toggle"
          aria-label="Toggle navigation menu"
          aria-expanded="false"
          aria-controls="header-nav"
        >
          <span class="visually-hidden">menu toggle icon</span>
          <span class="bar bar--top"></span>
          <span class="bar bar--mid"></span>
          <span class="bar bar--bot"></span>
        </button>
      </div>
      <nav id="header-nav" class="header__nav" role="navigation" aria-label="Main navigation">
        <ul class="list--unstyled">
          <li>
            <a class="header__nav__anchor" href="#about">About</a>
          </li>
          <li>
            <a class="header__nav__anchor" href="#value">Values</a>
          </li>
          <li>
            <a class="header__nav__anchor" href="#experience">Experience</a>
          </li>
          <li>
            <a class="header__nav__anchor" href="#skills">Skills</a>
          </li>
          <li>
            <a class="header__nav__anchor" href="#projects">Projects</a>
          </li>
          <li>
            <a class="header__nav__anchor" href="#testimonials">Testimonials</a>
          </li>
          <li>
            <a class="header__nav__anchor" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
