---
import Icon from '../elements/Icon.astro';
import Section from '../elements/Section.astro';
import SectionIntro from '../elements/SectionIntro.astro';
---

<Section cssClass="section--vertical-center section--full-height" title="form-success">
  <div class="align-center">
    <SectionIntro>
      <h1 class="animate-fade">
        Thank you! <Icon name="check-circle" />
      </h1>
      <p class="animate-fade">Your submission has been received.</p>
    </SectionIntro>
    <p class="animate-fade">
      <a href="/" class="button--secondary">Go back home</a>
    </p>
  </div>
</Section>
