---
import Icon from '../elements/Icon.astro';
import Section from '../elements/Section.astro';
import SectionIntro from '../elements/SectionIntro.astro';
---

<Section cssClass="section--vertical-center section--full-height" title="404">
  <div class="align-center">
    <SectionIntro>
      <h1 class="animate-fade">
        Whoops! You broke the internet. <Icon name="laugh" />
      </h1>
      <p class="animate-fade">Whatever you were looking for isn't here.</p>
    </SectionIntro>
    <p class="animate-fade">
      <a href="/" class="button--secondary">Go back home</a>
    </p>
  </div>
</Section>
