---
import Section from '../elements/Section.astro';
import StatItem from '../elements/StatItem.astro';
---

<Section cssClass="section--stats" title="stats">
  <div class="stats-bar">
    <StatItem value={15} label="Years experience" />
    <StatItem value={40} label="Enterprise clients" />
    <StatItem value={5} label="Fortune 500 companies" />
    <StatItem value={2} suffix="" label="Broken keyboards" />
  </div>
</Section>
