---
import Section from '../elements/Section.astro';
import SectionIntro from '../elements/SectionIntro.astro';
import SectionTitle from '../elements/SectionTitle.astro';
import TestimonialCard from '../elements/TestimonialCard.astro';
---

<Section cssClass="section--testimonials" title="testimonials">
  <SectionIntro>
    <SectionTitle title="What colleagues say" />
    <p class="animate-fade">Feedback from designers, developers, and managers I've worked with.</p>
  </SectionIntro>
  <div class="testimonial-grid">
    <TestimonialCard
      quote="Tom is a great front-end developer with a focus on details including accessibility which I have found refreshing. His feedback and contributions were very useful, often I would defer entirely to his guidance for UX and front-end work. He would be a valuable resource to any team, especially those with the need to focus on accessibility compliance."
      name="John"
      title="Software Architect, Rapid7"
    />
    <TestimonialCard
      quote="Tom is an extremely hard working and proficient web developer who is beloved by all.  It was a pleasure working with him."
      name="Justin"
      title="Head of Practices, GeekHive"
    />
    <TestimonialCard
      quote="Tom brought a special something to the team. When he wasn't blowing everyone's mind with the speed at which he could execute on a given problem, he was always willing to help someone with ideas. He was definitely a significant asset and the reason for success on many projects."
      name="Phil"
      title="Technical Lead, GeekHive"
    />
    <TestimonialCard
      quote="Tom is a pleasure to work with. He naturally attracts people because in addition to being a great developer, he's a genuinely nice guy. As a teammate, I always found him to be dependable, and his work is always top notch. I'm happy to recommend him."
      name="Gregory"
      title=".NET Technical Lead / Sitecore Architect, GeekHive"
    />
  </div>
</Section>
