---
import Icon from './Icon.astro';

export interface Props {
  name: string;
  cssClass: string;
  icon: string;
}

const { name, cssClass, icon } = Astro.props;
---

<div
  class=`skill-card-list__item skill-card-list__item--${cssClass} animate-slide`
  role="article"
  aria-label={`${name} skill`}
>
  <Icon name={icon} class="skill-card-list__item__icon" />
  <h3>{name}</h3>
  <slot />
</div>
