---
export interface Props {
  icon: string;
  title: string;
}

const { icon, title } = Astro.props;
---

<div class="value-card animate-slide">
  <div class="value-card__icon">
    <i class=`fas fa-${icon}` aria-hidden="true"></i>
  </div>
  <h3>{title}</h3>
  <slot />
</div>
