@use '../settings/variables';

// Media queries
// reference: https://medium.com/geekculture/sass-media-queries-mixins-1c5e5f605704

@mixin mq-up($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: variables.$bp-small) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: variables.$bp-medium) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: variables.$bp-large) {
      @content;
    }
  } @else if $breakpoint == x-large {
    @media (min-width: variables.$bp-extra-large) {
      @content;
    }
  } @else {
    @error "Breakpoint does not exist: #{$breakpoint}";
  }
}

// Media queries - Down (max-width)
@mixin mq-down($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: variables.$bp-small - 1px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: variables.$bp-medium - 1px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: variables.$bp-large - 1px) {
      @content;
    }
  } @else if $breakpoint == x-large {
    @media (max-width: variables.$bp-extra-large - 1px) {
      @content;
    }
  } @else {
    @error "Breakpoint does not exist: #{$breakpoint}";
  }
}

// Button
@mixin button($bg: variables.$c-white, $fg: variables.$c-black) {
  align-items: center;
  background: $bg;
  border: 2px solid $fg;
  border-radius: 50vw;
  color: $fg;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: variables.$fw-bold;
  gap: 1rem;
  justify-content: center;
  min-inline-size: 12rem;
  padding-block: 0.8rem;
  padding-inline: 0.8rem;
  transition:
    background variables.$s-base,
    border-color variables.$s-base,
    color variables.$s-base;

  &:focus-visible,
  &:hover {
    background: $fg;
    border-color: $bg;
    color: $bg;
  }

  @include mq-down(medium) {
    inline-size: 100%;
  }
}
